@import url("https://fonts.googleapis.com/css?family=Ubuntu:wght@300;400;500;700&display=swap&effect=anaglyph");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

nav {
  top: 0;
  position: sticky;
  z-index: 1300;
  width: 100%;
}
nav ul {
  display: flex;
  width: 330px;
  margin: 0 auto;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background: #fff;
  padding: 0 20px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #000;
}
nav ul li svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
  fill: #010101;
}
nav ul li svg:hover {
  transition: 0.3s;
  transform: translateY(-5px);
  fill: #ee1d52;
}
#dropdown-changetheme {
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.change-theme {
  cursor: initial;
  display: none;
  position: absolute;
  justify-content: center;
  left: 0;
  width: 100%;
}
.change-theme ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100px;
  justify-content: space-around;
  width: 50px;
  animation: dropdown 0.3s linear;
}
@keyframes dropdown {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
.change-theme ul li {
  cursor: pointer;
}
header {
  height: calc(100vh - 50px);
  max-height: 1080px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__inner {
  width: 1440px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header-content {
  width: 400px;
}
.header-content h1 {
  line-height: 1.3;
  font-size: 60px;
}
#fadeout-text {
  position: relative;
  color: rgba(255, 255, 255, 0);
}
#fadeout-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #757575;
  border-right: 2px solid #000;
  overflow: hidden;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 75%;
  }
}
span.blast:hover {
  color: #ee1d52;
  padding: 0 1%;
  font-size: 58px;
  transition: 0.3s;
  cursor: context-menu;
}
.header-content p {
  color: #757575;
  margin-top: 20px;
}
span.blast {
  margin: 0 2px;
}
.header-content a {
  margin-top: 60px;
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #ee1d52;
  letter-spacing: 2px;
  font-size: 16px;
  transition: 0.5s;
}
.header-content a:hover {
  color: #ee1d52;
  background: transparent;
  cursor: pointer;
}
.header-content a span {
  display: block;
  position: absolute;
  background: #ee1d52;
}
.header-content a span:nth-child(1) {
  left: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.header-content a:hover span:nth-child(1) {
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.header-content a span:nth-child(2) {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.header-content a:hover span:nth-child(2) {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}
.header-content a span:nth-child(3) {
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.header-content a:hover span:nth-child(3) {
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s;
}
.header-content a span:nth-child(4) {
  right: 0;
  top: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.header-content a:hover span:nth-child(4) {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.5s;
}
/*                        edit header button                      */

.header-content button::before:hover {
  animation: buttonhover 2s linear;
}
@keyframes buttonhover {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.logo {
  animation: fadeinlogo 2s linear;
  position: absolute;
  z-index: -1;
  top: -75px;
  right: 7%;
  font-size: 330px;
  font-weight: bold;
  transform: rotate(45deg);
}
@keyframes fadeinlogo {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: rotate(45deg);
  }
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
}
#aboutme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -150px;
}
section {
  width: 100%;
  height: 100vh;
  max-height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-content {
  max-width: 600px;
}
.section-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
.section-content p {
  color: #757575;
  line-height: 1.7;
}
.skills-wheel li {
  margin-top: 10px;
  font-size: 20px;
}
.skills-wheel li:hover {
  cursor: default;
  transition: 0.3s;
  color: #ee1d52;
  font-size: 35px;
}
#portfolio {
  max-height: 1080px;
}
.works__inner {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
.work {
  cursor: pointer;
  transition: 0.2s linear;
}
.work:hover {
  transform: translate3d(-10px, -10px, 0);
  box-shadow: 10px 10px 0 0 #d35555;
}
.work img {
  width: 350px;
  height: 200px;
  max-width: 100%;
}
.work img:hover {
  opacity: 0.75;
}
footer {
  display: flex;
}

footer form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 1080px;
  padding: 20px;
  width: 100%;
}
/* footer form::before {
  content: "";
  position: absolute;
  width: 30vw;
  height: 30vw;

  background: linear-gradient(#83d8ff, #2196f3);
  border-radius: 50%;
  transform: translate(-420px, -180px);
}
footer form::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;

  background: linear-gradient(#ee1d52, #e91e63);
  border-radius: 50%;
  transform: translate(400px, 180px);
} */
.contact-container {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;

  backdrop-filter: blur(20px);
}
.contact-container::before {
  content: "";
  position: absolute;
  left: -40%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skewX(-15deg);
}
.contact-container h2 {
  font-size: 36px;
  width: 100%;
  text-align: center;
}
.contact-container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.contact-container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}
.contact-container .row100 .col .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
}

.contact-container .row100 .col .inputBox input,
.contact-container .row100 .col .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #fff;
  resize: none;
}

.contact-container .row100 .col .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.contact-container .row100 .col .inputBox input:focus + .text,
.contact-container .row100 .col .inputBox input:valid + .text,
.contact-container .row100 .col .inputBox textarea:focus + .text,
.contact-container .row100 .col .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.contact-container .row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: rgb(61, 61, 61);
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.contact-container .row100 .col .inputBox input:focus ~ .line,
.contact-container .row100 .col .inputBox input:valid ~ .line {
  height: 100%;
}

.contact-container .row100 .col .inputBox.textarea {
  position: relative;
  padding: 10px 0;
  width: 100%;
  height: 100px;
}
.contact-container .row100 .col .inputBox textarea:focus ~ .line,
.contact-container .row100 .col .inputBox textarea:valid ~ .line {
  height: 100%;
}
.contact-container .row100 .col input[type="submit"] {
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #e91e63;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 2px;
}
.contact-container .row100 .col input[type="submit"]:hover {
  transition: 0.3s;

  padding: 10px 50px;
  background: #1db3ee;
}
@media (max-width: 768px) {
  form::before {
    transform: translate(-200px, -180px);
  }
  form::after {
    transform: translate(220px, 180px);
  }
  .contact-container {
    padding: 20px;
    backdrop-filter: inherit;
  }
  .contact-container .row100 .col {
    margin: 20px 0 15px;
  }
  .contact-container h2 {
    font-size: 30px;
  }
  #aboutme {
    flex-direction: column;
  }
  .skills-wheel ul {
    display: flex;
    flex-wrap: wrap;
  }
  .skills-wheel ul li {
    padding: 2%;
    list-style: none;
  }
  .section-content p {
    font-size: 14px;
  }
  header {
    max-height: 500px;
  }
  section {
    max-height: 450px;
  }
  .wrapper {
    padding: 0 3%;
  }

  span.blast:hover {
    font-size: inherit;
  }
  .footer__inner {
    font-size: 14px;
  }
}
.footer__inner {
  margin-top: 30px;
  background: #363636;
  color: #fff;
  padding: 15px;
}
.socials {
  max-width: 1920px;
  padding: 1%;
  margin: 0 auto;
}
.footer__inner a {
  color: #ee1d52;
}
@media (max-width: 1480px) {
  .wrapper {
    padding: 0 5%;
  }

  .header-content {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
    padding: 2%;
  }
  form::after {
    display: none;
  }
  .section-content {
    padding: 1%;
  }
  footer form {
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .section-content h1 {
    font-size: calc(30px + 20 * (100vw / 1440));
  }
  .header-content h1 {
    font-size: calc(35px + 20 * (100vw / 1440));
  }
  .works__inner {
    flex-wrap: wrap;
  }
  .work {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  footer form {
    padding: 0;
  }
  nav ul {
    width: auto;
  }
}

/* .mobile-menu {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.mobile-menu::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background: #000;
  transition: 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 5px 0 #000;
}
.mobile-menu::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  background: #000;
  transition: 0.2s;
  transform: translateY(5px);
}
.mobile-menu.active::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.mobile-menu.active::after {
  transform: rotate(-45deg);
} */
