* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

h1.title {
  margin-top: 8.32vw;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

p.subtitle {
  margin-top: 1.4vw;
  margin-bottom: 5.6vw;
  font-size: 16px;
  color: #777777;
  text-align: center;
}

/*?     ***********************************  1st ************************************** */

.section__first {
  background: url(img/first-bg.jpg) no-repeat center top / cover;
  background-attachment: fixed;
  height: 100vh;
}

.header {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__links {
  width: 485px;
  display: flex;
  justify-content: space-between;
}
.nav__link {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.h4 {
  margin-top: 14.2vw;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 40px;
  font-weight: normal;
}

.h1 {
  margin-top: 3.47vw;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 75px;
}

.more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 4.16vw;
  background: #fed136;
  width: 16.6vw;
  height: 4.5vw;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #484543;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/*? *******************************  2nd   *******************************************/

.section__second {
  width: 100%;
}

.services-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 17.3vw;
}
.service__ico {
  width: 5.2vw;
  margin: 0 auto;
}
.service__name {
  margin-top: 1.73vw;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
.service__desc {
  margin-top: 1.4vw;
  margin-bottom: 8.32vw;
  text-align: center;
  color: #777777;
  font-size: 14px;
}

/*? *************************************  3rd ****************************************/

.portfolio__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.portfolio-block {
  margin: 0 auto;
  display: flex;
  margin-bottom: 8.32vw;
}
.portfolio__block img {
  margin-bottom: 8.32vw;
}
.portfolio-picture {
  width: 20.2vw;
}

/*? **************************************** 4rd ********************************************/

.aboutus__container {
  align-items: center;

  display: flex;
  flex-direction: column;
}
.aboutus-left {
  margin-bottom: 6.24vw;
  display: flex;
  float: left;
}
.aboutus-right {
  margin-bottom: 6.24vw;
  display: flex;
  float: right;
}
.aboutus-par {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.text-section {
  width: 19.4vw;
}
.aboutus__picture {
  width: 12.7vw;
  height: 12.7vw;
}

/*? *********************************  footer **************************************/

.footer-info {
  margin-top: 2.08vw;
  margin-bottom: 6.24vw;
  color: #555555;
  font-size: 1vw;
  text-align: center;
}

/** *********************************** scrollbar   *************************************************/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000;
}
@media (min-width: 1920px) {
  .wrapper {
    max-width: 75%;
  }
  .h1 {
    font-size: 5.2vw;
  }
  .h4 {
    font-size: 2.8vw;
  }
  .more-info {
    font-size: 1.25vw;
  }
  .nav__link {
    font-size: 1vw;
  }
  .nav__links {
    width: 33.7vw;
  }
  .logo img {
    width: 5.5vw;
  }
  h1.title {
    font-size: 2.8vw;
  }
  p.subtitle {
    font-size: 1.1vw;
  }
  .service__name {
    font-size: 1.25vw;
  }
  .service__desc {
    font-size: 1vw;
  }
  .aboutus-par {
    font-size: 1.25vw;
  }
}

@media (max-width: 1024px) {
  .h1 {
    font-size: 50px;
    padding-bottom: 4vw;
  }
  .h4 {
    font-size: 30px;
  }
  .more-info {
    font-size: 14px;
  }
  h1.title {
    font-size: 30px;
  }
  .service__desc {
    margin-bottom: 0;
  }
  .footer-info {
    font-size: 10px;
  }
  .more-info {
    display: none;
  }
  .section__first {
    height: auto;
  }
}

@media (max-width: 768px) {
  .header {
    width: 90%;
    margin: 0 auto;
  }
  .nav__link {
    font-size: 10px;
  }
  .h1 {
    font-size: 40px;
  }
  .h4 {
    margin-top: 8vw;
    font-size: 25px;
  }

  h1.title {
    font-size: 25px;
  }
  p.subtitle {
    font-size: 12px;
  }
  .service {
    width: 28vw;
  }
  .service__name {
    font-size: 14px;
  }
  .service__desc {
    font-size: 12px;
  }
  .aboutus-par {
    font-size: 14px;
  }
  .aboutus-right,
  .aboutus-left {
    width: 50%;
    justify-content: space-around;
  }
  .text-section {
    width: 25vw;
  }
}
@media (max-width: 500px) {
  .h1 {
    font-size: 25px;
  }
  .h4 {
    font-size: 18px;
  }
  h1.title {
    font-size: 20px;
  }
  p.subtitle {
    font-size: 10px;
  }
  .aboutus-right,
  .aboutus-left {
    width: 80%;
  }
  .text-section {
    width: 75%;
  }
}
@media (max-width: 425px) {
  .section__first {
    z-index: 20;
    position: sticky;
    top: 0;
  }
  .h1 {
    display: none;
  }
  .h4 {
    display: none;
  }
  .logo {
    display: none;
  }
  .header {
    padding: 2px;
  }
  .service {
    width: 80%;
  }
  .nav__links {
    width: 100vw;
  }
  h1.title {
    font-size: 18px;
  }
}
